@using LingonberryStudio.Data.Entities
@model Advert
@{
    Filter filter = new();
    filter = ViewBag.Filter;

    //List<string> filterAmenityString = filter.GetAllAmenityTuple().Where(a => a.Item2.Equals(true)).Select(amenity => amenity.Item1).ToList();
    //List<string> filterDaysStrings = filter.GetAllDaysTuple().Where(a => a.Item2.Equals(true)).Select(day => day.Item1).ToList();

    bool modelHasAmenity = Model.GetAllAmenityTuple().Any(a => a.Item2.Equals(true));
    bool modelHasDays = Model.GetAllDaysTuple().Any(a => a.Item2.Equals(true));

    List<string> modelChosenDaysStrings = Model.GetAllDaysTuple().Where(a => a.Item2.Equals(true)).Select(day => day.Item1).ToList();
    List<string> modelChosenAmenityStrings = Model.GetAllAmenityTuple().Where(a => a.Item2.Equals(true)).Select(amenity => amenity.Item1).ToList();

    string city = Model.City.Substring(0, 1) + Model.City.Substring(1).ToLower();
    string area = Model.Area?.Substring(0, 1) + Model.Area?.Substring(1).ToLower();
    string studioType = Model.SplitCamelCase(Model.StudioType);

    string aOrAn = "a";
    if (studioType.StartsWith("A") || studioType.StartsWith("a"))
    {
        aOrAn = "an";
    }
}


<head>
    <link rel="site" href="/css/site.css">
</head>


<div class="popup" id="adPopup-@Model.ID">
    <div class="popup-content">
        <div class="popup-header">
            <h5 class="popup-title">@studioType</h5>
            <small class="form-text-style mt-1">Posted @Model.TimeCreated.ToShortDateString()</small>
            <button type="button" class="popup-close" id="closePopup-@Model.ID">&times;</button>
        </div>
        <div class="popup-body">
            <div class="">
                @*modal-body*@
                <div class="row">
                    <div>
                        <img src="/@Model.ImgUrl" alt="Work space area" id="ad-image" class="img-fluid mx-auto mb-2 d-block">
                        <div>
                            <div>
                                @if (Model.Offering)
                                {
                                    <label class="mb-2 fw-bold mt-2 justify-content-center d-xl-flex">I am offering @aOrAn @studioType</label>
                                }
                                else
                                {
                                    <label class="mb-2 fw-bold mt-2 justify-content-center d-xl-flex">I am looking for @aOrAn @studioType</label>
                                }
                            </div>

                        </div>
                        <div class="pt-2 pb-2 row">
                            <p class="form-text-style"><b>Desctiption:</b><br /> @Model.Description</p>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div>
                        @if (Model.Period != null)
                        {
                            @if (Model.Offering)
                            {
                                <p class="form-text-style"><b>Rent for the studio is:</b> £ @Model.Pounds/@Model.Period</p>

                            }
                            @if (!Model.Offering)
                            {
                                <p class="form-text-style"><b>My budget is:</b> £ @Model.Pounds/@Model.Period</p>

                            }
                            <br />
                            <hr />
                        }
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="col mx-auto">
                        <p class="form-text-style"><b>City:</b> @city </p><br />
                        @if (Model.Area != null)
                        {
                            <p class="form-text-style"><b>Area:</b> @area </p>

                            <br />
                        }
                        @if (Model.Artist != null)
                        {
                            <p class="form-text-style"><b>Artist/Project:</b> @Model.Artist</p> <br />
                        }
                    </div>
                    <div class="col">
                        <p class="form-text-style"><b>Name:</b> @Model.FirstName @Model.LastName</p> <br />
                        <p class="form-text-style"><b>Email:</b></p><a href="mailto:@Model.Email" class="form-text-style">@Model.Email</a><br />

                        @if (Model.PhoneNumber != null)
                        {
                            <p class="form-text-style"><b>Phone:</b> @Model.PhoneNumber</p> <br />
                        }
                        @if (Model.SocialMedia != null)
                        {
                            <p class="form-text-style"><b>Social media:</b> @Model.SocialMedia</p> <br />
                        }
                    </div>
                </div>
                @if (modelHasDays || modelHasAmenity)
                {
                    <hr />
                    <div class="row">
                        <div class="col">
                            @if (modelHasDays)
                            {
                                <p class="form-text-style">
                                    @if (Model.Offering)
                                    {
                                        <b>Avaliability:</b>
                                    }
                                    @if (!Model.Offering)
                                    {
                                        <b>I am interested in following days:</b>
                                    }
                                    <br>
                                    @foreach (var day in modelChosenDaysStrings)
                                    {

                                        @* @if (filterDaysStrings.Contains(day))
                            {
                            <u>@day</u>
                            }
                            else
                            {
                            @day
                            }*@
                                        <br />
                                    }
                                </p>
                            }
                        </div>
                        <div class="col">
                            @if (modelHasAmenity)
                            {
                                <p class=" form-text-style">
                                    <b>Amenities:</b><br />
                                    @foreach (var noSpaceAmenity in modelChosenAmenityStrings)
                                    {
                                        string amenity = Model.SplitCamelCase(noSpaceAmenity);
                                        @* @if (filterAmenityString.Contains(noSpaceAmenity))
                            {


                            if (amenity == "Other")
                            {
                            <u>@Model.Other</u>
                            }
                            else
                            {
                            <u>@amenity</u>
                            }

                            }
                            else
                            {
                            if (amenity == "Other")
                            {
                            @Model.Other
                            }
                            else
                            {
                            @amenity
                            }
                            }*@
                                        <br />
                                    }
                                </p>
                            }
                        </div>
                    </div>
                }
                @if (Model.StartDate != null || Model.EndDate != null
                || Model.OpeningTime != null || Model.ClosingTime != null)
                {
                    <hr />
                    <div class="row">
                        <div class="col">
                            <p class="form-text-style">
                                @if (Model.StartDate != null)
                                {
                                    <b>Start date:</b> @Model.StartDate.Value.ToShortDateString()
                                }
                                <br />
                                @if (Model.EndDate != null)
                                {
                                    <b>End date:</b> @Model.EndDate.Value.ToShortDateString()
                                }
                                <br />
                            </p>
                        </div>
                        <div class="col">
                            <p class="form-text-style">
                                @if (Model.OpeningTime != null)
                                {
                                    <b>Start time:</b> @Model.OpeningTime.Value.ToString("HH:mm")
                                }
                                <br />
                                @if (Model.ClosingTime != null)
                                {
                                    <b>Closing time:</b> @Model.ClosingTime.Value.ToString("HH:mm")
                                }
                            </p>
                        </div>
                    </div>

                }
                <div class="row col">
                    @if (Model.MeasurementType != null)
                    {
                        <hr />
                        <p class="form-text-style"><b>Size:</b> @Model.MeasurementNumber Square @Model.MeasurementType</p> <br />
                    }
                </div>
            </div>

            <div class="popup-footer">
                <button type="button" class="project-buttons form-buttons red-buttons" id="closePopup-@Model.ID">CLOSE</button>
            </div>
        </div>
    </div>
</div>
