@using LingonberryStudio.Data.Entities
@model Advert

<div class="modal fade" id="adModal-@Model.AdvertId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"> @Model.WorkspaceDescription </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				<div>
					<img src="@Model.Description.ImgUrl" class="img-fluid mx-auto ad-image">
				</div>
				@if (@Model.OfferingLooking == "Offering")
				{
					<label>I am @Model.OfferingLooking a studio</label>
				}
				else
				{
					<label>I am @Model.OfferingLooking for a studio</label>
				}
				<br />
				<p class="fw-bold form-text-style">City: </p>
				<p class="form-text-style">@Model.City</p> <br />
				@if (Model.Area != null)
				{
					<p class="fw-bold form-text-style">Area: </p>
					<p class="form-text-style">@Model.Area</p>
					<br />
				}
				<p class="fw-bold form-text-style">Name: </p>
				<p class="form-text-style">@Model.FirstName</p> <br />
				<p class="fw-bold form-text-style">Last Name: </p>
				<p class="form-text-style">@Model.LastName</p> <br />
				<p class="fw-bold form-text-style">Email: </p>
				<p class="form-text-style">@Model.Email</p> <br />
				@if (Model.PhoneNumber != null)
				{
					<p class="fw-bold form-text-style">Phone Number: </p>
					<p class="form-text-style">@Model.PhoneNumber</p> <br />
				}
				@if (Model.Artist != null)
				{
					<p class="fw-bold form-text-style">Artist/Project Name: </p>
					<p class="form-text-style">@Model.Artist</p> <br />
				}
				@if (Model.DatesAndTimes.Days != null && Model.OfferingLooking == "Offering")
				{
					<p class="fw-bold form-text-style">The studio is avalible following days: </p>
					<p class="form-text-style">@Model.Artist</p> <br />
				}
				@if (Model.DatesAndTimes.Days != null && Model.OfferingLooking == "Looking")
				{
					<p class="fw-bold form-text-style">I am looking for a studio following days: </p>
					<p class="form-text-style">@Model.Artist</p> <br />
				}

				@if (Model.Amenities != null)
				{
					<p class="fw-bold form-text-style">Ametities: </p> <br />
					@if (Model.Amenities.AcousticTreatment ==true)
					{
						<p class="form-text-style">@Model.Amenities.AcousticTreatment</p> <br />	
					}
					@if (Model.Amenities.NaturalLight ==true)
					{
						<p class="form-text-style">@Model.Amenities.NaturalLight</p> <br />
					}
					@if (Model.Amenities.Kitchen == true)
					{
						<p class="form-text-style">@Model.Amenities.Kitchen</p> <br />
					}
					@if (Model.Amenities.RunningWater ==true)
					{
						<p class="form-text-style">@Model.Amenities.RunningWater</p> <br />
					}
					@if (Model.Amenities.AirCon == true)
					{
						<p class="form-text-style">@Model.Amenities.AirCon</p> <br />
					}
					@if (Model.Amenities.Parking == true)
					{
						<p class="form-text-style">@Model.Amenities.Parking</p> <br />
					}
					@if (Model.Amenities.Storage == true)
					{
						<p class="form-text-style">@Model.Amenities.Storage</p> <br />
					}
					@if (Model.Amenities.Other != null)
					{
						<p class="form-text-style">@Model.Amenities.Other</p> <br />
					}
					
				}
				@if (Model.Measurements.FeetOrMeters != null)
				{
					<p class="fw-bold form-text-style">Size of the studio: </p>
					<p class="form-text-style"> @Model.Measurements.Number @Model.Measurements.FeetOrMeters</p> <br />
				}
				@if (Model.DatesAndTimes.StartDate!=null)
				{
					<p class="fw-bold form-text-style"> Start date: </p>
					<p class="form-text-style">@Model.DatesAndTimes.StartDate</p>
				}
				@if (Model.DatesAndTimes.EndDate != null)
				{
					<p class="fw-bold form-text-style">End date: </p>
					<p class="form-text-style">@Model.DatesAndTimes.EndDate</p> <br />
				}

				@if (Model.Budgets != null && Model.OfferingLooking == "Offering")
				{
					<p class="fw-bold form-text-style">Rent for the studio is: </p>
					<p class="form-text-style">@Model.Budgets.Price/@Model.Budgets.MonthOrWeek</p> <br />
				}
				@if (Model.Budgets != null && Model.OfferingLooking == "Looking")
				{
					<p class="fw-bold form-text-style">My budget is: </p>
					<p class="form-text-style">@Model.Budgets.Price/@Model.Budgets.MonthOrWeek</p> <br />
				}
				@if (Model.DatesAndTimes.OpeningTime != null)
				{
					<p class="fw-bold form-text-style"> Start time: </p>
					<p class="form-text-style">@Model.DatesAndTimes.OpeningTime</p>
				}
				@if (Model.DatesAndTimes.ClosingTime != null)
				{
					<p class="fw-bold form-text-style">Closing time: </p>
					<p class="form-text-style">@Model.DatesAndTimes.ClosingTime</p> <br />
				}
	
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
        </div>
    </div>
</div>