@using LingonberryStudio.Data.Entities
@model Advert
@{
    Filter filter = new();
    filter = ViewBag.Filter;

    List<string> filterAmenityString = filter.GetAllAmenityTuple().Where(a => a.Item2.Equals(true)).Select(amenity => amenity.Item1).ToList();
    List<string> filterDaysStrings = filter.GetAllDaysTuple().Where(a => a.Item2.Equals(true)).Select(day => day.Item1).ToList();

    bool modelHasAmenity = Model.WorkPlace.AmenityTypes.GetAllAmenityTuple().Any(a => a.Item2.Equals(true));
    bool modelHasDays = Model.WorkPlace.TimeFrames.GetAllDaysTuple().Any(a => a.Item2.Equals(true));

    List<string> modelChosenDaysStrings = Model.WorkPlace.TimeFrames.GetAllDaysTuple().Where(a => a.Item2.Equals(true)).Select(day => day.Item1).ToList();
    List<string> modelChosenAmenityStrings = Model.WorkPlace.AmenityTypes.GetAllAmenityTuple().Where(a => a.Item2.Equals(true)).Select(amenity => amenity.Item1).ToList();

    string city = Model.WorkPlace.City.Substring(0, 1) + Model.WorkPlace.City.Substring(1).ToLower();
    string area = Model.WorkPlace.Area?.Substring(0, 1) + Model.WorkPlace.Area?.Substring(1).ToLower();
    string[] split = Model.SplitCamelCase(Model.StudioType);
    string studioType = string.Join(" ", split);

    string aOrAn = "a";
    if (studioType.StartsWith("A") || studioType.StartsWith("a"))
    {
        aOrAn = "an";
    }
}

<div class="modal fade" id="adModal-@Model.ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">@splitStudio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div>
                        <img src="/@Model.WorkPlace.ImgUrl" class="img-fluid mx-auto ad-image mb-2">
                        <div>
                            @if (Model.Offering)
                            {
                                <label class="split mb-2 fw-bold mt-2"><u>I am offering @aOrAn @studioType</u></label>
                            }
                            @if (!Model.Offering)
                            {
                                <label class="split mb-2 fw-bold mt-2"><u>I am looking for @aOrAn @studioType</u></label>
                            }
                        </div>
                        <div class="pt-2 pb-2 row">
                            <p class="form-text-style"><b>Desctiption:</b><br /> @Model.WorkPlace.Description</p>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div>
                        @if (Model.WorkPlace.Period != null)
                        {
                            @if (Model.Offering)
                            {
                                <p class="form-text-style"><b>Rent for the studio is:</b> £ @Model.WorkPlace.Pounds/@Model.WorkPlace.Period</p> <br />

                            }
                            @if (!Model.Offering)
                            {
                                <p class="form-text-style"><b>My budget is:</b> £ @Model.WorkPlace.Pounds/@Model.WorkPlace.Period</p> <br />

                            }
                        }
                    </div>
                </div>
                <hr />
                <div class="row pt-2">
                    <div class="col mx-auto">
                        <p class="form-text-style"><b>City:</b> @city </p><br />
                        @if (Model.WorkPlace.Area != null)
                        {
                            <p class="form-text-style"><b>Area:</b> @area </p>

                            <br />
                        }
                        @if (Model.Artist != null)
                        {
                            <p class="form-text-style"><b>Artist/Project:</b> @Model.Artist</p> <br />
                        }
                    </div>
                    <div class="col">
                        <p class="form-text-style"><b>Name:</b> @Model.FirstName @Model.LastName</p> <br />
                        <p class="form-text-style"><b>Email:</b> @Model.Email</p> <br />
                        @if (Model.PhoneNumber != null)
                        {
                            <p class="form-text-style"><b>Phone:</b> @Model.PhoneNumber</p> <br />
                        }
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col">
                        @if (modelHasDays)
                        {
                            @if (Model.Offering)
                            {
                                <p class="fw-bold form-text-style">Avaliability: </p> <br />
                            }
                            @if (!Model.Offering)
                            {
                                <p class="fw-bold form-text-style">Days of interest:<br></p><br />
                            }
                            @foreach (var day in modelChosenDaysStrings)
                            {
                                if (filterDaysStrings.Contains(day))
                                {
                                    <p class="form-text-style"><u>@day</u></p><br />
                                }
                                else
                                {
                                    <p class="form-text-style">@day</p><br />
                                }
                            }
                        }
                    </div>
                    <div class="col">
                        @if (modelHasAmenity)
                        {
                            <p class="fw-bold form-text-style">Ametities: </p> <br />
                            @foreach (var amenity in modelChosenAmenityStrings)
                            {
                                string splitAmenity = Model.SplitCamelCase(amenity);
                                @if (filterAmenityString.Contains(amenity))
                                {
                                    if (amenity == "Other")
                                    {
                                        <p class="form-text-style"><u>@Model.WorkPlace.AmenityTypes.Other</u></p> <br />
                                    }
                                    else
                                    {
                                        <p class="form-text-style"><u>@splitAmenity</u></p> <br />
                                    }
                                }
                                else
                                {
                                    if (amenity == "Other")
                                    {
                                        <p class="form-text-style">@Model.WorkPlace.AmenityTypes.Other</p> <br />
                                    }
                                    else
                                    {
                                        <p class="form-text-style">@splitAmenity</p> <br />
                                    }
                                }
                            }
                        }
                    </div>
                </div>          
                @if (Model.WorkPlace.MeasurementType != null)
                {
                    <p class="form-text-style"><b>Size:</b> @Model.WorkPlace.MeasurementNumber Square @Model.WorkPlace.MeasurementType</p> <br />
                }
                @if (Model.WorkPlace.TimeFrames.StartDate != null)
                {
                    <p class="form-text-style"><b>Start date:</b> @Model.WorkPlace.TimeFrames.StartDate.Value.ToShortDateString()</p> <br />
                }
                @if (Model.WorkPlace.TimeFrames.EndDate != null)
                {
                    <p class="form-text-style"><b>End date:</b> @Model.WorkPlace.TimeFrames.EndDate.Value.ToShortDateString()</p> <br />
                }
                @if (Model.WorkPlace.Period != null)
                {
                    @if (Model.Offering)
                    {
                        <p class="form-text-style"><b>Rent for the studio is:</b> £ @Model.WorkPlace.Pounds/@Model.WorkPlace.Period</p> <br />

                    }
                    @if (!Model.Offering)
                    {
                        <p class="form-text-style"><b>My budget is:</b> £ @Model.WorkPlace.Pounds/@Model.WorkPlace.Period</p> <br />

                    }
                }
                @if (Model.WorkPlace.TimeFrames.OpeningTime != null)
                {
                    <p class="form-text-style"><b>Start time:</b> @Model.WorkPlace.TimeFrames.OpeningTime.Value.ToString("HH:mm") </p>
                }
                @if (Model.WorkPlace.TimeFrames.ClosingTime != null)
                {
                    <p class="form-text-style"><b>Closing time:</b> @Model.WorkPlace.TimeFrames.ClosingTime.Value.ToString("HH:mm") </p>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            }
        </div>
    </div>
</div>