@using LingonberryStudio.Data.Entities
@model Advert


@{
    var chosenDays = Model.WorkPlace.TimeFrames.GetAllDaysTuple().Where(a => a.Item2.Equals(true)).Select(day => day.Item1);
    var chosenAmenity = Model.WorkPlace.AmenityTypes.GetAllAmenityTuple().Where(a => a.Item2.Equals(true)).Select(amenity => amenity.Item1);
    var city = Model.WorkPlace.City.Substring(0, 1) + Model.WorkPlace.City.Substring(1).ToLower();
    var split = Model.SplitCamelCase(Model.StudioType);
}

<div class="modal fade" id="adModal-@Model.ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">@Model.StudioType</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <img src="/@Model.WorkPlace.ImgUrl" class="img-fluid mx-auto ad-image center">
                </div>
                @if (Model.Offering)
                {     <label class="split mb-2 fw-bold mt-2">I am offering a</label>              
                     @for (int i = 0; i < split.Length; i++)
                    {
                       <small class="split fw-bold mb-2 mt-2">@split[i]</small>
                      }                
                }
                @if (!Model.Offering)
                {
                <label class="split mb-2 fw-bold mt-2">I am looking for a</label>
                    @for (int i = 0; i < split.Length; i++)
                    {
                        <small class="split fw-bold mb-2 mt-2">@split[i]</small>
                    }
                }
                <br />
                <p class="fw-bold form-text-style">City: </p>
                <p class="form-text-style">@city</p> <br />
                @if (Model.WorkPlace.Area != null)
                {
                    var area = Model.WorkPlace.Area.Substring(0, 1) + Model.WorkPlace.Area.Substring(1).ToLower();
                    <p class="fw-bold form-text-style">Area: </p>
                    <p class="form-text-style">@area</p>
                    <br />
                }
                <p class="fw-bold form-text-style">Name: </p><p class="form-text-style">@Model.FirstName</p> <br />
                <p class="fw-bold form-text-style">Surname: </p><p class="form-text-style">@Model.LastName</p> <br />
                <p class="fw-bold form-text-style">Email: </p><p class="form-text-style">@Model.Email</p> <br />
                @if (Model.PhoneNumber != null)
                {
                    <p class="fw-bold form-text-style">Phone Number: </p>
                    <p class="form-text-style">@Model.PhoneNumber</p> <br />
                }
                @if (Model.Artist != null)
                {
                    <p class="fw-bold form-text-style">Artist/Project Name: </p>
                    <p class="form-text-style">@Model.Artist</p> <br />
                }
                @if (Model.WorkPlace.TimeFrames.GetAllDaysTuple().Any(d => d.Item2.Equals(true)) && Model.Offering)
                {
                    <p class="fw-bold form-text-style">Avaliability: </p> <br />
                }
                @if (Model.WorkPlace.TimeFrames.GetAllDaysTuple().Any(d => d.Item2.Equals(true)) && !Model.Offering)
                {
                    <p class="fw-bold form-text-style">I am interested in following days: </p> <br />
                }
                @foreach (var day in chosenDays)
                {
                    <p class="form-text-style">@day</p> <br />
                }
                @if (Model.WorkPlace.AmenityTypes.GetAllAmenityTuple().Any(a => a.Item2.Equals(true)))
                {
                    <p class="fw-bold form-text-style">Ametities: </p> <br />
                    @foreach (var amenity in chosenAmenity)
                    {
                        if (amenity != "Other")
                        {
                            <p class="form-text-style">@amenity</p> <br />
                        }
                        else
                        {
                            <p class="form-text-style">@Model.WorkPlace.AmenityTypes.Other</p> <br />
                        }                        
                    }
                }
                @if (Model.WorkPlace.MeasurementType != null)
                {
                    <p class="fw-bold form-text-style">Size: </p>
                    <p class="form-text-style"> @Model.WorkPlace.MeasurementNumber Square @Model.WorkPlace.MeasurementType</p> <br />
                }
                @if (Model.WorkPlace.TimeFrames.StartDate !=null)
                {
                    <p class="fw-bold form-text-style"> Start date: </p>
                    <p class="form-text-style">@Model.WorkPlace.TimeFrames.StartDate.Value.ToShortDateString()</p> <br />
                }
                @if (Model.WorkPlace.TimeFrames.EndDate != null)
                {
                    <p class="fw-bold form-text-style">End date: </p>
                    <p class="form-text-style">@Model.WorkPlace.TimeFrames.EndDate.Value.ToShortDateString()</p> <br />
                }
                @if (Model.Offering && Model.WorkPlace.Period != null)
                {
                    <p class="fw-bold form-text-style">Rent for the studio is: </p>
                    <p class="form-text-style">£ @Model.WorkPlace.Pounds/@Model.WorkPlace.Period</p> <br />
                }
                @if (!Model.Offering && Model.WorkPlace.Period != null)
                {
                    <p class="fw-bold form-text-style">My budget is: </p>
                    <p class="form-text-style">£ @Model.WorkPlace.Pounds/@Model.WorkPlace.Period</p> <br />
                }
                @if (Model.WorkPlace.TimeFrames.OpeningTime != null)
                {
                    <p class="fw-bold form-text-style"> Start time: </p>
                    <p class="form-text-style">@Model.WorkPlace.TimeFrames.OpeningTime.Value.ToString("HH:mm") </p>
                }
                @if (Model.WorkPlace.TimeFrames.ClosingTime != null)
                {
                    <p class="fw-bold form-text-style">Closing time: </p>
                    <p class="form-text-style">@Model.WorkPlace.TimeFrames.ClosingTime.Value.ToString("HH:mm") </p>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            }
        </div>
    </div>
</div>