@model LingonberryStudio.Data.Entities.Advert
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

@*@using (Html.BeginForm("CreateAd", "Adverts", FormMethod.Post, new { @class = "frmValidation", @novalidate = "", enctype = "multipart/form-data" }))
{
    <!-- Modal -->
    <div class="modal fade table-responsive" id="formModal" tabindex="-1" role="dialog" aria-labelledby="mdl-add-lbl" aria-hidden="true">
        <div class="modal-dialog modal-xl table-responsive" role="document">
            <!-- Modal content-->
            <div class="modal-content tabler">
                <div class="modal-header form-background-color">
                    <h5 class="modal-title" id="mdl-add-lbl">CREATE AD</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body ">
                    <div class="row">
                        <div class="col">
                            <div class="form-check mt-2 mx-3">
                                <input class="form-check-input" type="radio" asp-for="Offering" value="true" required> 
                                <label asp-for="OfferingLooking"> I am offering a studio</label><br>
                                <input class="form-check-input" type="radio" id="OfferingLooking" asp-for="OfferingLooking" value="looking"> @*required
                                <label asp-for="OfferingLooking"> I am looking for a studio</label><br>
                                <span class="invalid-feedback">Please tick a box</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="City">City</label>
                                <input type="text" class="form-control" asp-for="City"> @*required
                                <span class="invalid-feedback">Please enter city</span>
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Area">Area</label>
                                <input type="text" class="form-control" asp-for="Area">
                                <span asp-validation-for="Area" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="FirstName">First name</label>
                                <input type="text" asp-for="FirstName" class="form-control "> @*required
                                <span class="invalid-feedback">Please enter first name</span>
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="LastName">Last name</label>
                                <input type="text" asp-for="LastName" class="form-control "> @*required
                                <span class="invalid-feedback">Please enter surname</span>
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Email">Email</label>
                                <input type="email" asp-for="Email" class="form-control"> @*required
                                <span class="invalid-feedback">Please enter Email</span>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="PhoneNumber">Phone number</label>
                                <input type="tel" asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Artist">Artist/Project name</label>
                                <input type="text" asp-for="Artist" class="form-control" />
                                <span asp-validation-for="Artist" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="WorkspaceDescription">Workspace</label>
                                <br>
                                <input list="WorkspaceDescription" name="WorkspaceDescription">
                                @*required
                                <datalist asp-for="WorkspaceDescription" id="WorkspaceDescription">
                                    <option value="" selected disabled>Options</option>
                                    <option value="Music Studio">Music Studio</option>
                                    <option value="Art Studio">Art Studio</option>
                                    <option value="Photo Studio">Photo Studio</option>
                                    <option value="Dance Rehersal Studio">Dance Rehersal Studio</option>
                                    <option value="Ceramics Studio">Ceramics Studio</option>
                                    <option value="Painting Studio">Painting Studio</option>
                                    <option value="Workshop">Workshop</option>                                
                                </datalist>
                                <span class="invalid-feedback">Please choose one</span>                   
                            </div>
                        </div>
                        
                    </div>               
                        <div class="form-group">
                            <label asp-for="Description.WorkPlaceDescription">Description</label>
                            <textarea type="text" placeholder="Please type a short description(Workspace, genre, set-up, background etc)" asp-for="Description.Desc" class="form-control"></textarea> @*required
                            
                            <span class="invalid-feedback">Please enter Description</span>
                            <span asp-validation-for="Description.Desc" class="text-danger"></span>
                        </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Description.formFile">Studio image</label>
                            <input asp-for="Description.formFile" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="SocialMedia">Social media</label>
                        <input type="text" class="form-control" asp-for="SocialMedia" />
                        <span asp-validation-for="SocialMedia" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="align-content-center border-box">
                                <div class="form-group checkbox">
                                    <p>Days in the studio:</p>
                                    <input class="form-check-input" type="checkbox" asp-for="@Model.DatesAndTimes.Days.Monday" value="true">
                                    <label asp-for="DatesAndTimes.Days">Monday</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="@Model.DatesAndTimes.Days.Tuesday" value="true">
                                    <label asp-for="DatesAndTimes.Days">Tuesday</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="@Model.DatesAndTimes.Days.Wednesday" value="true">
                                    <label asp-for="DatesAndTimes.Days">Wednesday</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="@Model.DatesAndTimes.Days.Thursday" value="true">
                                    <label asp-for="DatesAndTimes.Days">Thursday</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="@Model.DatesAndTimes.Days.Friday" value="true">
                                    <label asp-for="DatesAndTimes.Days">Friday</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="@Model.DatesAndTimes.Days.Saturday" value="true">
                                    <label asp-for="DatesAndTimes.Days">Saturday</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="@Model.DatesAndTimes.Days.Sunday" value="true">
                                    <label asp-for="DatesAndTimes.Days">Sunday</label><br>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="align-content-center borderBox">
                                <div class="form-group checkbox">
                                    <p>Amenities</p>
                                    <input class="form-check-input" type="checkbox" asp-for="@Model.Amenities.Parking" value=true>
                                    <label asp-for="Amenities"> Parking space</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="@Model.Amenities.AirCon" value=true>
                                    <label asp-for="Amenities">Air conditioning</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="@Model.Amenities.Kitchen" value=true>
                                    <label asp-for="Amenities"> Kitchen</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="@Model.Amenities.NaturalLight" value=true>
                                    <label asp-for="Amenities">Natural light</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="@Model.Amenities.AcousticTreatment" value=true>
                                    <label asp-for="Amenities">Acoustic treatment</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="@Model.Amenities.RunningWater" value=true>
                                    <label asp-for="Amenities">Running water</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="@Model.Amenities.Storage" value=true>
                                    <label asp-for="Amenities">Storage</label><br>

                                    <label asp-for="Amenities">Type your own</label><br>
                                    <input type="text" asp-for="@Model.Amenities.Other" />
                                    <span asp-validation-for="Amenities.Other" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" asp-for="Measurements.FeetOrMeters" value="Square foot">
                                <label asp-for="Measurements">Area square foot</label><br>
                                <input class="form-check-input" type="radio" asp-for="Measurements.FeetOrMeters" value="Square metres">
                                <label asp-for="Measurements">Area in square metres</label><br>
                                <input type="number" asp-for="@Model.Measurements.Number" />
                                <span class="invalid-feedback">Please tick a box</span>
                                <span asp-validation-for="Measurements.Number" class="text-danger"></span>
                            </div>
                            <div class="form-group mx-4">
                                <input id="Start_date_picker" type="date" asp-for="@Model.DatesAndTimes.StartDate">
                                <input id="End_date_picker" type="date" asp-for="@Model.DatesAndTimes.EndDate">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" asp-for="Budgets.MonthOrWeek" value="Month"> @*required
                                <label asp-for="Budgets">Price per month</label><br>
                                <input class="form-check-input" type="radio" asp-for="Budgets.MonthOrWeek" value="Week"> @*required
                                <label asp-for="Budgets">Price per week</label><br>
                                <input type="number" asp-for="@Model.Budgets.Price" /> @*required
                                <span class="invalid-feedback">Please tick a box</span>
                            </div>
                            <div class="form-group mx-4">
                                <label class="formAlignment" asp-for="DatesAndTimes">Select time</label> <br>
                                <input type="time" asp-for="DatesAndTimes.OpeningTime"><br> <br>
                                <input type="time" asp-for="DatesAndTimes.ClosingTime">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer form-background-color">
                    <button type="submit" id="btn-submit" class="btn">SUBMIT</button>
                    <button type="button" id="btn-dismiss" class="btn" data-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </div>
    </div>
}
*@
<script type="text/javascript">
    function showfield(name) {
        if (name == 'Other') document.getElementById('div1').innerHTML = 'Other: <input type="text" name="other" />';
        else document.getElementById('div1').innerHTML = '';
    }
</script>
<script language="javascript">
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0');
    var yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;
    $('#Start_date_picker').attr('min', today);
</script>
<script language="javascript">
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0');
    var yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;
    $('#End_date_picker').attr('min', today);
</script>
<script language="javascript">
$("#Start_date_picker").change(function () {
    $("#End_date_picker").prop("min", $(this).val());
    $("#End_date_picker").val(""); //clear end date input when start date changes
});
</script>

<script>
    $(function () {
        Array.prototype.filter.call($('.frmValidation'), function (form) {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    });</script>

<script type="text/javascript">
    function OnComplete() {
        $("#formModal").modal("hide");
    }
</script>