@using LingonberryStudio.Data.Entities
@using System.ComponentModel;
@model LingonberryStudio.Data.Entities.Advert
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>





@using (Html.BeginForm("CreateAd", "Adverts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <!-- Modal -->
    <div class="modal fade table-responsive" id="formModal" tabindex="-1" role="dialog" aria-labelledby="mdl-add-lbl" aria-hidden="true">
        <div class="modal-dialog modal-xl table-responsive" role="document">
            <!-- Modal content-->
            <div class="modal-content tabler">
                <div class="modal-header form-background-color">
                    <h5 class="modal-title" id="mdl-add-lbl">CREATE AD</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">
                    <div class="row">
                        <div class="col">
                            <div class="form-check mt-2 mx-2">
                                <input class="form-check-input" type="radio" asp-for="Offering" name="Offering" value="true">
                                <label id="offering" asp-for="Offering"> I am offering a studio</label><br>
                                <input class="form-check-input" type="radio" id="Offering" asp-for="Offering" value="false">
                                <label asp-for="Offering" id="looking"> I am looking for a studio</label><br>
                                <span asp-validation-for="Offering" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                        <div class="row">
                        <div class="col">
                            <div class="form-group" id="city">
                                <label asp-for="WorkPlace.City">City</label>
                                <input type="text" class="form-control" asp-for="WorkPlace.City" required> 
                                <span class="invalid-feedback">Please enter city</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group" id="area">
                                <label asp-for="WorkPlace.Area">Area</label>
                                <input type="text" class="form-control" asp-for="WorkPlace.Area">
                                <span asp-validation-for="WorkPlace.Area" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="FirstName">First name</label>
                                <input type="text" asp-for="FirstName" class="form-control " required>
                                <span class="invalid-feedback">Please enter first name</span>
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="LastName">Last name</label>
                                <input type="text" asp-for="LastName" class="form-control " required>
                                <span class="invalid-feedback">Please enter surname</span>
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Email">Email</label>
                                <input type="email" asp-for="Email" class="form-control" required>
                                <span class="invalid-feedback">Please enter Email</span>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="PhoneNumber">Phone number</label>
                                <input type="tel" asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Artist">Artist/Project name</label>
                                <input type="text" asp-for="Artist" class="form-control" />
                                <span asp-validation-for="Artist" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col mt-2 workspace">
                            <div class="form-group">
                                <label asp-for="StudioType">Workspace</label>
                                <br>
                                <input list="StudioType" name="StudioType" required>
                                <datalist asp-for="WorkPlace.StudioType" id="StudioType">
                                    <option value="" selected disabled>Options</option>
                                    <option value="Music Studio">Music Studio</option>
                                    <option value="Art Studio">Art Studio</option>
                                    <option value="Photo Studio">Photo Studio</option>
                                    <option value="Dance Rehersal Studio">Dance Rehersal Studio</option>
                                    <option value="Ceramics Studio">Ceramics Studio</option>
                                    <option value="Painting Workshop">Painting Workshop</option>
                                </datalist>
                                <span class="invalid-feedback">Please choose one</span>
                            </div>
                        </div>
                    </div>                        
                        <div class="form-group">
                        <label asp-for="WorkPlace.Description">Description</label>
                       <textarea type="text" placeholder="Please type a short description(Workspace, genre, set-up, background etc)" asp-for="WorkPlace.Description" class="form-control"></textarea>
                            
                            <span class="invalid-feedback">Please enter Description</span>
                            <span asp-validation-for="WorkPlace.Description" class="text-danger"></span>
                        </div>
                    <div class="col">
                       <div class="form-group">
                            <label asp-for="WorkPlace.FormFile">Studio image</label>
                            <input asp-for="WorkPlace.FormFile" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="SocialMedia">Social media</label>
                        <input type="text" class="form-control" asp-for="SocialMedia" />
                        <span asp-validation-for="SocialMedia" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="align-content-center border-box">
                                <div class="form-group checkbox">
                                    <p>Days in the studio:</p>
                                    <input class="form-check-input" type="checkbox" asp-for="@Model.WorkPlace.TimeFrames.Monday" value="true">
                                    <label asp-for="WorkPlace.TimeFrames.Monday">Monday</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="@Model.WorkPlace.TimeFrames.Tuesday" value="true">
                                    <label asp-for="WorkPlace.TimeFrames.Tuesday">Tuesday</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="@Model.WorkPlace.TimeFrames.Wednesday" value="true">
                                    <label asp-for="WorkPlace.TimeFrames.Wednesday">Wednesday</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="@Model.WorkPlace.TimeFrames.Thursday" value="true">
                                    <label asp-for="WorkPlace.TimeFrames.Thursday">Thursday</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="@Model.WorkPlace.TimeFrames.Friday" value="true">
                                    <label asp-for="WorkPlace.TimeFrames.Friday">Friday</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="@Model.WorkPlace.TimeFrames.Saturday" value="true">
                                    <label asp-for="WorkPlace.TimeFrames.Saturday">Saturday</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="@Model.WorkPlace.TimeFrames.Sunday" value="true">
                                    <label asp-for="WorkPlace.TimeFrames.Sunday">Sunday</label><br>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="align-content-center border-box">
                                <div class="form-group checkbox">
                                    <p>Amenities</p>
                                    <input class="form-check-input" type="checkbox" asp-for="@Model.WorkPlace.AmenityTypes.Parking" value=true>
                                    <label asp-for="WorkPlace.AmenityTypes.Parking"> Parking space</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="@Model.WorkPlace.AmenityTypes.AirCondition" value=true>
                                    <label asp-for="WorkPlace.AmenityTypes.AirCondition">Air conditioning</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="@Model.WorkPlace.AmenityTypes.Kitchen" value=true>
                                    <label asp-for="WorkPlace.AmenityTypes.Kitchen"> Kitchen</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="@Model.WorkPlace.AmenityTypes.AcousticTreatment" value=true>
                                    <label asp-for="WorkPlace.AmenityTypes.AcousticTreatment">Acoustic treatment</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="@Model.WorkPlace.AmenityTypes.RunningWater" value=true>
                                    <label asp-for="WorkPlace.AmenityTypes.RunningWater">Running water</label><br>

                                    <input class="form-check-input" type="checkbox" asp-for="@Model.WorkPlace.AmenityTypes.Storage" value=true>
                                    <label asp-for="WorkPlace.AmenityTypes.Storage">Storage</label><br>

                                    <label asp-for="WorkPlace.AmenityTypes.Other">Type your own</label><br>
                                    <input type="text" asp-for="@Model.WorkPlace.AmenityTypes.Other" />
                                    <span asp-validation-for="WorkPlace.AmenityTypes.Other" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                               <input class="form-check-input" type="radio" asp-for="WorkPlace.MeasurementType" name="Measurements" value="Square foot">
                                <label asp-for="WorkPlace.MeasurementType">Area square foot</label><br>
                                <input class="form-check-input" type="radio" asp-for="WorkPlace.MeasurementType" name="Measurements" value="Square metres">
                                <label asp-for="WorkPlace.MeasurementType">Area in square metres</label><br>
                                <input type="number" asp-for="@Model.WorkPlace.MeasurementNumber" />
                                <span class="invalid-feedback">Please tick a box</span>
                                <span asp-validation-for="WorkPlace.MeasurementNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group mx-4 mt-3">
                                <label class="formAlignment" asp-for="WorkPlace.TimeFrames">Select Date</label> <br>
                                <input id="Start_date_picker" type="date" asp-for="@Model.WorkPlace.TimeFrames.StartDate">
                                <input id="End_date_picker" type="date" asp-for="@Model.WorkPlace.TimeFrames.EndDate">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" asp-for="WorkPlace.Period" name="Period" value="Month" required>
                                <label asp-for="WorkPlace.Period">Price per month</label><br>
                               <input class="form-check-input" type="radio" asp-for="WorkPlace.Period" name="Period" value="Week" required>
                                <label asp-for="WorkPlace.Period">Price per week</label><br>
                                <input type="number" asp-for="@Model.WorkPlace.Currency">
                                <span class="invalid-feedback">Please tick a box</span>
                            </div>
                            <div class="form-group mx-4 mt-3">
                                <label class="formAlignment" asp-for="WorkPlace.TimeFrames">Select time</label> <br>
                                <input type="time" asp-for="WorkPlace.TimeFrames.OpeningTime"><br> <br>
                                <input type="time" asp-for="WorkPlace.TimeFrames.ClosingTime">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer form-background-color">
                    <button type="submit" id="btn-submit" class="btn">SUBMIT</button>
                    <button type="button" id="btn-dismiss" class="btn" data-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    function showfield(name) {
        if (name == 'Other') document.getElementById('div1').innerHTML = 'Other: <input type="text" name="other" />';
        else document.getElementById('div1').innerHTML = '';
    }
</script>
<script language="javascript">
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0');
    var yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;
    $('#Start_date_picker').attr('min', today);
</script>
<script language="javascript">
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0');
    var yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;
    $('#End_date_picker').attr('min', today);
</script>
<script language="javascript">
$("#Start_date_picker").change(function () {
    $("#End_date_picker").prop("min", $(this).val());
    $("#End_date_picker").val(""); //clear end date input when start date changes
});
</script>
<script type="text/javascript">
    function OnComplete() {
        $("#formModal").modal("hide");
    }
</script>