@model LingonberryStudio.Data.Entities.Advert

<script>$(function () {
    Array.prototype.filter.call($('.frmValidation'), function (form) {
        form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        }, false);
    });
});</script>

@using (Html.BeginForm("CreateAd", "Adverts", FormMethod.Post, new { @class = "frmValidation", @novalidate = "" }))
{
    <!-- Modal -->
    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="mdl-add-lbl" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title" id="mdl-add-lbl">Create Ad</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="FirstName">FirstName</label>
                                <input type="text" asp-for="FirstName" class="form-control " required />
                                <span class="invalid-feedback">Please enter FirstName</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="LastName">LastName</label>
                                <input type="text" asp-for="LastName" class="form-control " required />
                                <span class="invalid-feedback">Please enter LastName</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Email">Email</label>
                                <input type="email" asp-for="Email" class="form-control" required />
                                <span class="invalid-feedback">Please enter Email</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="PhoneNumber">Phone number</label>
                                <input type="tel" asp-for="PhoneNumber" class="form-control" />
                                <span class="invalid-feedback">Please enter only numbers</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" asp-for="OfferingLooking" value="offering" required>
                                <label asp-for="OfferingLooking"> I am offering a studio</label><br>
                                <input class="form-check-input" type="radio" id="OfferingLooking" asp-for="OfferingLooking" value="looking" required>
                                <label for="OfferingLooking"> I am looking for a studio</label><br>
                                <span class="invalid-feedback">Please tick a box</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="Workspace">Workspace</label>
                                <br>
                                <select class="form-select mb-3" asp-for="WorkspaceDescription" required>
                                    <option value="" selected disabled>Options</option>
                                    <option value="Music">Music Studio</option>
                                    <option value="Art">Art Studio</option>
                                    <option value="Photo">Photo Studio</option>
                                    <option value="customOption">[Type your own]</option> @*FIX*@
                                </select>
                                <span class="invalid-feedback">Please choose one</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description">Description</label>
                        <input type="text" asp-for="Description" class="form-control" required />
                        <span class="invalid-feedback">Please enter Description</span>
                    </div>

                    <div class="form-group">
                        <label asp-for="PostCode">Postcode</label>
                        <input type="text" class="form-control" asp-for="PostCode" required />
                        <span class="invalid-feedback">Please enter postcode</span>
                    </div>

                    <div class="form-group">
                        <input class="form-check-input" type="checkbox" asp-for="@Model.Facilities.Parking" value="true">
                        <label for="Facilities"> Parking space</label><br>

                        <input class="form-check-input" type="checkbox" asp-for="@Model.Facilities.AirCon" value="true">
                        <label for="Facilities">Air conditioning</label><br>

                        <input class="form-check-input" type="checkbox" asp-for="@Model.Facilities.Kitchen" value="true">
                        <label for="Facilities"> Kitchen</label><br>

                        <input class="form-check-input" type="checkbox" asp-for="@Model.Facilities.NaturalLight" value="true">
                        <label for="Facilities">Natural light</label><br>

                        <input class="form-check-input" type="checkbox" asp-for="@Model.Facilities.AcousticTreatment" value="true">
                        <label for="Facilities">Acoustic treatment</label><br>

                        <input class="form-check-input" type="checkbox" asp-for="@Model.Facilities.RunningWater" value="true">
                        <label for="Facilities">Running water</label><br>

                        <input class="form-check-input" type="checkbox" asp-for="@Model.Facilities.Storage" value="true">
                        <label for="Facilities">Storage</label><br>

                        <label for="Facilities">Type your own</label><br>
                        <input type="text" asp-for="@Model.Facilities.Other" />
                    </div>

                    <div class="form-group">
                        <label asp-for="Budget">Budget</label>
                        <input type="text" class="form-control" asp-for="Budget" required />
                        <span class="invalid-feedback">Please enter your budget</span>
                    </div>


                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="@Model.Measurements.Feet" value="true" required>
                        <label asp-for="Measurements">Area square foot</label><br>
                        <input class="form-check-input" type="radio" asp-for="@Model.Measurements.Meters" value="true" required>
                        <label asp-for="Measurements">Area in square metres</label><br>
                        <input type="number" asp-for="@Model.Measurements.Number" required />
                        <span class="invalid-feedback">Please tick a box</span>
                    </div>

                    <div class="form-group">
                        <label>Select dates</label>
                        <input type="time" asp-for="@Model.Avaliability.StartDate"><br /><br />
                        <input type="time" asp-for="@Model.Avaliability.EndDate"><br /><br />
                    </div>

                    <div class="form-group">
                        <label>Select time</label>
                        <input type="time" asp-for="@Model.Avaliability.OpeningTime"><br /><br />
                        <input type="time" asp-for="@Model.Avaliability.ClosingTime"><br /><br />
                    </div>

                    <div class="form-group">
                        <label asp-for="Avaliability">Choose days</label>
                        <select name="Avaliability"   multiple>
                            <option asp-for="@Model.Avaliability.WeekDays.Monday" value="true">Monday</option>
                            <option asp-for="@Model.Avaliability.WeekDays.Tuesday" value="true">Tuesday</option>
                            <option asp-for="@Model.Avaliability.WeekDays.Wednesday" value="true">Wednesday</option>
                            <option asp-for="@Model.Avaliability.WeekDays.Thursday" value="true">Thursday</option>
                            <option asp-for="@Model.Avaliability.WeekDays.Friday" value="true">Friday</option>
                            <option asp-for="@Model.Avaliability.WeekDays.Saturday" value="true">Saturday</option>
                            <option asp-for="@Model.Avaliability.WeekDays.Sunday" value="true">Sunday</option>
                        </select>
                    </div>

                    @*asp-for="Avaliability"*@

                    <div class="form-group">
                        <label asp-for="Artist">Artist name</label>
                        <input type="text" asp-for="Artist" class="form-control" />
                    </div>

                    @*<div class="form-group">
                <label asp-for="SocialMedia">Social media</label>
                <input type="url" class="form-control" asp-for="SocialMedia" />
                </div>*@
                </div>
                <div class="modal-footer bg-dark">
                    <button type="submit" id="btnSubmit" class="btn btn-success">Submit</button>
                    <button type="button" id="btnDismiss" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

