@using LingonberryStudio.Data.Entities
@using LingonberryStudio.ViewModels
@using static LingonberryStudio.Models.Filter;
@using LingonberryStudio.Models;
@model AdvertViewMoldel


<div id="filter-container">
    <div class="row">
        <div class="col">
            <div>
                <div class="dropdown">
                    <button class="btn dropdown-toggle project-buttons beige-buttons form-buttons" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        FILTER
                    </button>
                    <div class="dropdown-menu">
                        <div class="form-outline mb-4">
                            @using (Html.BeginForm("Adverts", "Adverts", FormMethod.Get, new { @class = "px-4 py-3" }))
                            {
                                <div class="row">
                                    <div class="col">
                                        <div class="form-check p-2">
                                            @Html.CheckBoxFor(m => m.Filter.Offering, true) They are offering space.<br>
                                            @Html.CheckBoxFor(m => m.Filter.Looking, true) They are looking to rent.
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div>
                                            @Html.DropDownListFor(m => m.Filter.OrderBy, Model.Filter.OrderBy.ToSelectList<OrderBy>())
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div>
                                    @Html.TextBoxFor(m => m.Filter.City, "", new { @class = "form-control", placeholder = "City" })
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    <div class="col mb-0">
                                        <label asp-for="Filter.Pounds" class="form-label mb-0" id="budget">Budget £:
                                            @if (Model.Filter.Pounds > 0)
                                            {
                                                <span id="displayBudget">@Model.Filter.Pounds</span>
                                            }
                                            else
                                            {
                                                <span id="displayBudget"></span>
                                            }                                            
                                        </label>
                                        <div class="form-check">
                                            @Html.CheckBoxFor(m => m.Filter.Month, new { id = "pounds", value="true", @onclick="showBudget()" }) Month
                                        </div>                                       
                                    </div>
                                </div>
                                <div class="row">
                                    @if (Model.Filter.Pounds > 0)
                                    {
                                        <input type="range" class="multi-range form-range" asp-for="Filter.Pounds"  id="Currency" name="Filter.Pounds" min="0" max=@Model.MaxBudget step="1" oninput="myFunction()">
                                        @Html.HiddenFor(a=>a.MaxBudget, Model.MaxBudget)
                                    }
                                    else
                                    {
                                        <input type="range" class="multi-range form-range" asp-for="Filter.Pounds" value="@Model.MaxBudget/2" id="Currency" name="Filter.Pounds" min="0" max=@Model.MaxBudget step="1" oninput="myFunction()" disabled>
                                        @Html.HiddenFor(a=>a.MaxBudget, Model.MaxBudget)
                                    }
                                    
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="row mb-4">
                                    <div class="col d-flex col-sm-12 col-md-6 col-lg-4 mb-3">
                                        <!-- Checkbox -->
                                        <div class="form-check">
                                            <p class="mb-1"><b>Studio Type:</b></p>
                                            @Html.CheckBoxFor(m => m.Filter.MusicStudio, true) Music<br />
                                            @Html.CheckBoxFor(m => m.Filter.ArtStudio, true) Art<br />
                                            @Html.CheckBoxFor(m => m.Filter.PhotoStudio, true) Photo<br />
                                            @Html.CheckBoxFor(m => m.Filter.DanceRehersalStudio, true) Dance Rehersal<br />
                                            @Html.CheckBoxFor(m => m.Filter.CeramicsStudio, true) Ceramics<br />
                                            @Html.CheckBoxFor(m => m.Filter.PaintingWorkshop, true) Painting Workshop<br />
                                            @Html.CheckBoxFor(m => m.Filter.OtherStudio, true) Other
                                        </div>
                                    </div>
                                    <div class="col d-flex col-sm-12 col-md-6 col-lg-4">
                                            <div class="form-group checkbox">
                                            <p class="mb-1"><b>Availability:</b></p>
                                            @Html.CheckBoxFor(m => m.Filter.Monday) Monday <br />
                                            @Html.CheckBoxFor(m => m.Filter.Tuesday) Tuesday <br />
                                            @Html.CheckBoxFor(m => m.Filter.Wednesday) Wednesday <br />
                                            @Html.CheckBoxFor(m => m.Filter.Thursday) Thursday <br />
                                            @Html.CheckBoxFor(m => m.Filter.Friday) Friday <br />
                                            @Html.CheckBoxFor(m => m.Filter.Saturday) Saturday <br />
                                            @Html.CheckBoxFor(m => m.Filter.Sunday) Sunday <br />
                                            </div>
                                        </div>
                                    <div class="col d-flex col-sm-12 col-md-12 col-lg-4">
                                            <div class="form-group checkbox">
                                            <p class="mb-1"><b>Amenities:</b></p>
                                            @Html.CheckBoxFor(m => m.Filter.Parking, true) Parking <br />
                                            @Html.CheckBoxFor(m => m.Filter.Shower, true) Shower <br />
                                            @Html.CheckBoxFor(m => m.Filter.AirCondition, true) Air conditioning <br />
                                            @Html.CheckBoxFor(m => m.Filter.Kitchen, true) Kitchen <br />
                                            @Html.CheckBoxFor(m => m.Filter.NaturalLight, true) Natural Light <br />
                                            @Html.CheckBoxFor(m => m.Filter.AcousticTreatment, true) Acoustic Treatment <br />
                                            @Html.CheckBoxFor(m => m.Filter.RunningWater, true) Running Water <br />
                                            @Html.CheckBoxFor(m => m.Filter.Storage, true) Storage <br />
                                            @Html.CheckBoxFor(m => m.Filter.Toilet, true) Toilet <br />
                                            @Html.CheckBoxFor(m => m.Filter.CeramicOven, true) Ceramic oven <br />
                                            @Html.CheckBoxFor(m => m.Filter.Other, true) Other <br />
                                            </div>
                                        </div>
                                    </div>
                                <button type="submit" name="hasFilter" value="true" class="btn-block project-buttons green-buttons">APPLY FILTERS</button>
                                <button onclick="history.back()" class="red-buttons project-buttons mt-2 form-buttons">CLOSE</button>
                                <a asp-controller="Adverts" asp-action="Empty" id="clear-button" class="btn project-buttons beige-buttons form-buttons">CLEAR</a>
                            }
                        </div>
                    </div>                
                </div>
            </div>
        </div>
        <div class="col">
            <div>
                <a class="btn project-buttons form-buttons" id="ad-btn" asp-controller="Adverts" asp-action="Form" data-toggle="modal" data-target="@("#formModal")">CREATE</a><br /><br />
                <div id="popupForm"></div>
               @* <a class="btn project-buttons form-buttons" id="ad-btn"  data-toggle="modal" data-target="@("#formModal")">CREATE</a>
                @await Html.PartialAsync("_FormPartial")*@
            </div>
        </div>
    </div>
</div>

<p id="result">@ViewBag.Total Results</p>
<div class="container-fluid flex-grid-container border-0">
    <div class="flex-grid-container justify-content-center">
        <div class="container align-content-center align-content-center error-message"><span>@ViewBag.CityNotFound</span></div>
        @foreach (var ad in Model.AdvertList)
        {
            string city = ad.WorkPlace.City.Substring(0, 1) + ad.WorkPlace.City.Substring(1).ToLower();
            string studio = ad.SplitCamelCase(ad.StudioType);

            <div id="ad-card">
                <a data-toggle="modal" data-target="@("#adModal-"+ad.ID)">
                    <div class="container">
                        <img src="/@(ad.WorkPlace.ImgUrl)" alt="Work space area" id="ad-image" class="img-fluid mx-auto mb-2">
                        @if (ad.Offering)
                        {
                            <div class="text-block offering-block">OFFERING</div>
                        }
                        else
                        {
                            <div class="text-block offering-block">LOOKING</div>
                        }
                        @if (ad.WorkPlace.ImgUrl!.StartsWith("seed"))
                        {
                            <div class="text-block" id="seed-block">DEMO</div>
                        }
                    </div>
                    <div class="container">
                        <p class="fw-bold mb-0">@studio</p>
                        <p class="mb-0">@city</p>
                        @if (ad.WorkPlace.Period != null)
                        {
                            if (ad.WorkPlace.Period == "Week")
                            {
                                ad.WorkPlace.Pounds = ad.WorkPlace.Pounds / 4;
                            }
                            <p class="mb-0"><u>£@ad.WorkPlace.Pounds/@ad.WorkPlace.Period</u></p>
                        }
                    </div>
                </a>
                @await Html.PartialAsync("_ChosenAdPartial", ad)
            </div>
        }
    </div>
</div>

<script>
   function myFunction() {
        var x = document.getElementById("Currency").value;
        document.getElementById("displayBudget").innerHTML = x;
    }

    function showBudget(){
            var checkbox = document.querySelector("input[id=pounds]");
        checkbox.addEventListener('change', function () {
            if (this.checked) {
                var x = document.getElementById("Currency").value;
                document.getElementById("displayBudget").innerHTML = x;
                document.getElementById("displayBudget").hidden = false;
            } else {
                document.getElementById("displayBudget").hidden = true;
            }
        });
    }

    var checkbox = document.querySelector("input[id=pounds]");
    checkbox.addEventListener('change', function () {
        if (this.checked) {
            document.getElementById("Currency").disabled = false;
        } else {
            document.getElementById("Currency").disabled = true;
        }
    });
</script>
