@using LingonberryStudio.Data.Entities

<div id="areaAndResults" class="">
    <p id="result">@ViewBag.Total results</p>
    <div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter
            </button>
            <div class="dropdown-menu">
                <form class="px-4 py-3">
                    <!-- Email input -->
                    <div class="form-outline mb-4">

                        <label for="customRange3" class="form-label">Example range</label>
                        <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="form1Example2" class="form-control" />
                        <label class="form-label" for="form1Example2">Password</label>
                    </div>

                    <!-- 2 column grid layout for inline styling -->
                    <div class="row mb-4">
                        <div class="col d-flex justify-content-center">
                            <!-- Checkbox -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                                <label class="form-check-label" for="form1Example3"> Monday </label>
                            </div>
                        </div>

                        <div class="col">
                            <!-- Simple link -->
                            <p>TEST</p>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block">Apply filters</button>
                </form>
                <div class="dropdown-divider"></div>
                <p>Testtexs</p>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <input type="checkbox" value="true"> <label></label>
            </div>
        </div>
    </div>

    <div id="popupForm"></div>
    <a class="btn adBtn" asp-controller="Adverts" asp-action="Form" data-toggle="modal" data-target="@("#formModal")">POST YOUR AD</a>





</div>









@model List<Advert>
<div class="container-fluid flex-grid-container border-0">
    <div class="flex-grid-container justify-content-center">
        @foreach (var ad in Model)
        {
            <div class="ad-card">
                <a data-toggle="modal" data-target="@("#adModal-"+ad.AdvertId)">
                    <div>
                        <img src="@ad.Description.ImgUrl" class="img-fluid mx-auto ad-image">
                    </div>
                    <div>
                        <p class="fw-bold mb-0 mt-3">@ad.WorkspaceDescription</p>
                        <p class="mb-0">@ad.City</p>
                        <p>£@ad.Budgets.Price/@ad.Budgets.MonthOrWeek</p>

                    </div>
                </a>
                @await Html.PartialAsync("_ChosenAdPartial", ad)
            </div>
        }
    </div>
</div>


