@using LingonberryStudio.Data.Entities

<div id="popupForm"></div>
<a asp-controller="Adverts" asp-action="Form" class="btn adBtn" data-target="#formModal" data-toggle="modal">POST YOUR AD</a>


@model List<Advert>
@foreach (var ad in Model)
{
    <a data-toggle="modal" data-target="@("#adModal-"+ad.AdvertId)" >
        <div class="container row p-3">
            <div class="container col" style="border:solid;">
                PICTURE
            </div>
            <div class="container col" style="border:solid;">
                I am : @ad.OfferingLooking for a studio.
                workspace: @ad.WorkspaceDescription.
                Postcode: @ad.PostCode
                Budget: @ad.Budgets.MonthOrWeek
                Mesurements foot: @ad.Measurements.FeetOrMeters
            </div>
        </div>
    </a>
    @await Html.PartialAsync("_ChosenAdPartial", ad)
}