@using LingonberryStudio.Data.Entities

<div id="popupForm"></div>
<a asp-controller="Adverts" asp-action="Form" class="btn btn-primary" data-target="#formModal" data-toggle="modal">Create ad</a>

<h1>ADS</h1>
@model List<Advert>
@foreach (var p in Model)
{
    <p>Id: @p.Id Name: @p.Name Description: @p.Description workspace: @p.WorkspaceDescription email: @p.Email Budget: @p.Budget Postcode: @p.PostCode social media: @p.SocialMedia  offering/Looking: @p.OfferingLooking </p>
}

