@using LingonberryStudio.Data.Entities

<div id="popupForm"></div>
<a asp-controller="Adverts" asp-action="Form" class="btn btn-primary" data-target="#formModal" data-toggle="modal">Create ad</a>


<h1>ADS</h1>
@model List<Advert>

@foreach (var ad in Model)
{
    <a asp-controller="Adverts" asp-action="ChosenAd" data-target="#adModal" asp-route-id="@ad.AdvertId" data-toggle=" modal">
      
        <div class="container row p-3">
            <div class="container col" style="border:solid;">
                PICTURE
            </div>
            <div class="container col" style="border:solid;">
                I am : @ad.OfferingLooking for a studio.
                workspace: @ad.WorkspaceDescription.
                Postcode: @ad.PostCode
                Budget: @ad.Budget
                Mesurements foot: @ad.Measurements.FeetOrMeters
            </div>
        </div>
    </a>

}

<div id="popupAd"></div>
