@using LingonberryStudio.Data.Entities

<div id="popupForm"></div>
<a asp-controller="Adverts" asp-action="Form" class="btn btn-primary" data-target="#formModal" data-toggle="modal">Create ad</a>

<h1>ADS</h1>
@model List<Advert>
@foreach (var p in Model)
{
    <p>Id: @p.Id 
        Name: @p.FirstName
        email: @p.Email
        @*Description: @p.Description
        offering/Looking: @p.OfferingLooking
        workspace: @p.WorkspaceDescription  *@
       @* Budget: @p.Budget 
        Postcode: @p.PostCode 
        social media: @p.SocialMedia   
        phone number: @p.PhoneNumber 
        Artist name: @p.ArtistName 
        work hours: @p.StartTime 
        until @p.EndTime*@  </p>
}

