@using LingonberryStudio.Data.Entities


<div id="popupForm"></div>
<a asp-controller="Adverts" asp-action="Form" class="btn adBtn" data-target="#formModal" data-toggle="modal">POST YOUR AD</a>


@model List<Advert>
@foreach (var p in Model)
{
        <p>
        Id: @p.AdvertId
        Name: @p.FirstName
        email: @p.Email
        Description: @p.Description
        offering/Looking: @p.OfferingLooking
        workspace: @p.WorkspaceDescription
        Budget: @p.Budgets.MonthOrWeek @p.Budgets.Price
        Postcode: @p.PostCode
        phone number: @p.PhoneNumber
        Artist name: @p.Artist
        AmenityID: @p.AmenityID
        Aminities AcousticTreatment: @p.Amenities.AcousticTreatment
        Mesurements foot: @p.Measurements.FeetOrMeters
        DatesAndTimes: @p.DatesAndTimes.StartDate + @p.DatesAndTimes.EndDate + @p.DatesAndTimes.OpeningTime
        Day: @p.DatesAndTimes.Days.Monday
    </p>

    @*social media: @p.SocialMedia
        work hours: @p.StartTime
        until @p.EndTime*@
}

